<a href="https://colab.research.google.com/github/Akanksha22112003/Covid-anaysis/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns

# choosing color palette
flatui = ["#9b59b6", "#3498db", "#95a5a6", "#e74c3c", "#34495e", "#2ecc71"]

In [7]:
df = pd.read_csv('covid_worldwide.csv')
df.head()

,Serial Number,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Test,Population
0,1,USA,"104,196,861","1,132,935","101,322,779","1,741,147","1,159,832,679","334,805,269"
1,2,India,"44,682,784","530,740","44,150,289","1,755","915,265,788","1,406,631,776"
2,3,France,"39,524,311","164,233","39,264,546","95,532","271,490,188","65,584,518"
3,4,Germany,"37,779,833","165,711","37,398,100","216,022","122,332,384","83,883,596"
4,5,Brazil,"36,824,580","697,074","35,919,372","208,134","63,776,166","215,353,593"

In [5]:
# renaming columns to have all lowercase
survey.columns = [col.lower() for col in survey.columns]

# looking at dtypes, we can see all of them are pandas objects except for age that is int.
print(survey.dtypes)

serial number       int64
country            object
total cases        object
total deaths       object
total recovered    object
active cases       object
total test         object
population         object
dtype: object

In [8]:
df.shape

(231, 8)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Serial Number    231 non-null    int64
 1   Country          231 non-null    object
 2   Total Cases      231 non-null    object
 3   Total Deaths     225 non-null    object
 4   Total Recovered  210 non-null    object
 5   Active Cases     212 non-null    object
 6   Total Test       213 non-null    object
 7   Population       228 non-null    object
dtypes: int64(1), object(7)
memory usage: 14.6+ KB

In [17]:
print(df.isnull().sum())  # This shows how many missing values per column

Serial Number       0
Country             0
Total Cases         0
Total Deaths        6
Total Recovered    21
Active Cases       19
Total Test         18
Population          3
dtype: int64

In [24]:
india_data = df[df["Country"] == "India"]  # Filter by country

In [27]:
# Save the processed data (optional)
df.to_csv("covid_worldwide.csv", index=False)  # Save without index column

In [36]:
# Clean specific columns (example)
# Assuming the "Total Cases" column has commas, remove them
df["Total Cases"] = df["Total Cases"].str.replace(",", "")

In [37]:
# Extract specific data (example)
# Assuming you want data for a specific country (e.g., USA)
usa_data = df[df["Country"] == "USA"]  # Filter by country

In [41]:
# Delete data (optional)
# Assuming you want to remove a column named "Population" (if not needed)
del df["Population"]

In [33]:
print("Data processing and extraction complete!")

Data processing and extraction complete!